<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidapp.androidchat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name="com.androidapp.androidchat.KayakRacerApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidapp.androidchat.MainActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidapp.androidchat.JoinTeamActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity android:name="com.androidapp.androidchat.StartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name="com.androidapp.androidchat.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>
